/* Flex the name and navigation links at the top of the page */
#name-and-nav-links {
    display: flex;
    /* add 1% margins on left, right and bottom */
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
}

/* Show the name on the left */
#name-and-nav-links h1 {
    flex: auto;
}

/* Show the navigation links on the right and evenly distribute the space between the links */
#name-and-nav-links nav {
    flex: auto;
    display: flex;
    justify-content: space-between;
}

/* Set the font size for the name and links in the header */
.header-text {
    font-size: 200%;
}

/* styling for the header image */
header img {
    /* add 1% vertical margin and 1% horizontal margin */
    margin: 1% 1%;
}

/* background color for the header */
header {
    background-color: turquoise;
}

/* Font size for h2 elements */
h2 {
    font-size: 175%;
}

/* Font size for h3 elements */
h3 {
    font-size: 150%;
}

/* Styling for content sections */
.content-container {
    /* add 1% margins on left, right and bottom */
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
}

/* Put the headers for the content sections on the left */
.content-container h2 {
    float: left;
    width: 20%;
    /* Put the text on the right */
    text-align: right;
    padding-right: 1%;
}

/* Styling for the project cards container in the work section */
#project-cards {
    display: flex;
    /* Make the cards wrap to the next line if they overflow */
    flex-wrap: wrap;
}

/* Make the contact me links show on the right of the page in one line */
#contact-links {
    display: flex;
    justify-content: space-between;
}

/* Size links as per width and height but grow and shrink to with the container */
#contact-links a {
    flex: auto;
}

/* All cards except the first one should be half of the display area */
.card:not(.first-item) {
    width: 50%;
}

/* Make the first application twice as large as the rest of the applications */
.first-item {
    width: 100%;

}

/* Put a border around the card */
.card {
    border: solid;
    border: turquoise;
}

/* Make the card image fill the width and height of the card */
.card img {
    width: 100%;
}

/* Make the project description appear over the image */
.project-description {
    position: relative;
    top: 50%;
    left: 0%;
    background-color: turquoise;
    width: 33%;
}
